## BASIC OF DATA WRANGLING FEATURES

In [22]:
#CREATING A DATAFRAME
import pandas as pd 
df=pd.DataFrame({'Name':['Alice','Bob','John'],'Age':[21,20,22],'City':['Newyork','Los Angels','Mexico']})
print(df)

    Name  Age        City
0  Alice   21     Newyork
1    Bob   20  Los Angels
2   John   22      Mexico

In [5]:
#READING CSV FILES:
import pandas as pd
df=pd.read_csv('sample.csv')
df.head()

    Name  Age        City
0  Alice   21     Newyork
1    Bob   20  Los Angels
2   John   22      Mexico

In [11]:
# DATA CLEANING
import pandas as pd
df=pd.DataFrame({'A':[None,1,2,4],'B':[2,None,4,3]})
droped_df=df.dropna()
print(droped_df)

     A    B
2  2.0  4.0
3  4.0  3.0

In [12]:
# GROUPING THE DATA
import pandas as pd
df1=pd.DataFrame({'A':['foo','bar'],'B':[5,6]})
df2=pd.DataFrame({'A':['foo','bar'],'B':[7,8]})
group_by=df.groupby('A').sum()
print(group_by)

       B
A
1.0  0.0
2.0  4.0
4.0  3.0

In [14]:
# MERGING THE DATA
import pandas as pd
df1=pd.DataFrame({'A':['foo','bar','fun'],'B':[5,3,2]})
df2=pd.DataFrame({'A':['foo','bar','fun'],'B':[10,11,12]})
df=pd.merge(df1,df2,on='A')
print(df)

     A  B_x  B_y
0  foo    5   10
1  bar    3   11
2  fun    2   12

In [18]:
#PIVOT TABLE:

import pandas as pd
df=pd.DataFrame({'A':['foo','fun','bar'],'B':[5,3,7],'C':[10,11,12]})
df1=pd.pivot_table(data=df,values='C',index='B',columns='A',aggfunc=sum)
print(df1)

A   bar   foo   fun
B
3   NaN   NaN  11.0
5   NaN  10.0   NaN
7  12.0   NaN   NaN

In [21]:
# DUPLICATES
import pandas as pd
df=pd.DataFrame({'A':[1,1,2,3,4],'B':[2,2,4,5,1]})
df1=df.drop_duplicates()
print(df1)

   A  B
0  1  2
2  2  4
3  3  5
4  4  1